<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>Eu e você - Feliz Aniversário</title>
	</head>
	 <body class="min-h-screen bg-gradient-to-r from-slate-900 to-slate-700 text-gray-100
             flex items-center justify-center p-4 sm:p-6 font-[Montserrat]">
		<slot />
	</body>
</html>


